.btn-btn{
    background: #F15A28;
    color: white;
    font-weight: bold;
    padding: 10px 30px;
}
.content-align-left{
    text-align: right;
}
.navbar{
    border-bottom: 10px solid #427E3C;
    padding: 0 !important;
}
.nav-item{
    padding: 10px;
}
.nav-item.active{
    background: #427E3C;
}
.nav-item .nav-link{
    color: white;
    font-weight: bold;
}
/* rotating */
.rotating{
    display: flex;
    align-items: center;
}
.rotating .box{
    display: flex;
}
.rotating .box hr{
    border: none;
    width: 50px;
    height: 10px;
    background: #000 !important;
}
.rotating .box h2{
    color: #F15A28;
    padding: 0 15px;
}
/* Rotating-text */
.Rotating-text{
    width: 33%;
}
.Rotating-text{
    color: white !important;
}
.Rotating-text hr{
    border: none;
    width: 50%;
    height: 5px;
    background: #000 !important;
}
.Rotating-text .bx{
    padding:  20px 0;
}
.Rotating-text .bx h3{
    font-size: 25px;
}
.Rotating-text .bx h4{
    font-size: 30px;
}

/* img-crosel */
/* .img-crosel{
    height: 200px;
    width: 100%;
} */